.navbar-form input, .form-inline input {
  width:auto;
}

body,html {
  height: 100%;
}

body {
  background-color: #E3EEEF;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#E3EEEF;
}


#masthead {
  /*min-height:150px;*/
  background-color:#E3EEEF;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:30px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

.prof-img{
  display:block;
}

a,a:hover {
  color:#223399;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 60px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$red: #white;
$green: #56cb5f;
html{
  box-sizing: inherit;
  font-family: Lato, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
body{
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: inherit;
  background: #efefef;
}
.wrapper{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.timelineBox{
  width: 350px;
  height: auto;
  overflow: hidden;
  margin: 5rem auto;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.06),
              0 1px 0 rgba(0,0,0,0.02);
  }
  
.timelineBody{
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  .timeline{
    padding: 3rem 2rem !important;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
    &:before{
      content: '';
      position: absolute;
      width: 4px;
      background: #fff;
      top: 0;
      right: auto;
      left: 25px;
      height: 100%;
      z-index: -1;
      box-shadow: 0 0 8px rgba(0,0,0,0.085),
            0 1px 0 rgba(0,0,0,0.02);
    }
    li{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 2rem;
      position: relative;
    }
  .timelineDot{
    height: 1.5rem;
    width: 1.5rem;
    background: #fff;
    border-radius: 2rem;
    flex: 0 0 1.5rem;
    margin-right: auto;
    margin-top: 6px;
    box-shadow: 0 0 8px $green;
    &::after{
      content: '';
      position: absolute;
      top: 9px;
      left: 3px;
      height: 9px;
      width: 9px;
      background: $green;
      border-radius: 50%;
    }
  }
  .timelineDate{
    font-size: 1.2rem;
    flex: 0 0 80px;
    padding: 0.2rem;
  }
  .timelineWork{
    font-family: inherit;
    font-size: 1.4rem;
    margin-left: auto;
    flex: 0 0 170px;
      small{
        display: block;
        color: #bdbdbd;
      }
    }
  }
}
.timelineBody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.timelineBody::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.timelineBody::-webkit-scrollbar-thumb
{
	background-color: $red;
}

.ajay{
  font-family: sans-serif;
  font-size: 14px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  a{
    text-decoration: none;
    color: #333;

    &:hover{
      text-decoration: underline;
      color: #000;
    }
  }
}